<!DOCTYPE html>
<html ng-app="chatApp">
<head>
  <meta charset="UTF-8">
  <title>baseChat</title>
</head>
<body>
  <h1>baseChat</h1>
  <br><br>
    <div ng-controller="chatController">
      <a>There are {{ chats.length }} messages</a><br><br>
      <form ng-submit="makeNewMessage()">
      <input type="text" placeholder="Enter a user name" ng-model="chatName"></input>
      <input type="text" placeholder="Enter a new message" ng-model="chatMessage"></input>
      <button>Submit</button>
    </form>
    <ul>
      <li ng-repeat="chat in chats">{{ chat.name }} - {{ chat.message}}</li>
    </ul>

    </div>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>

     <script text="text/javascript" src="/../client/controllers/chat-controller.js"></script>
</body>
</html>