<!DOCTYPE html>
<html ng-app='chatApp'>
<head>
  <meta charset = 'UTF-8'>
  <script type='text/javascript' src ='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js'></script>

  <script type='text/javascript' src ='client/controllers/chat-controller.js'></script>

</head>
<body>
  <h1>baseChat</h1>
  <br>
  <br>
  <div ng-controller='chatController'>
		<form ng-submit='makeNewMessage()'>
			<input type='text' placeholder='Enter a username' ng-model='chatName'></input>
			<br>
			<input type='text' placeholder='Enter a message' ng-model='chatMessage'></input>
			<br>
			<br>
			<button type='submit'>Submit</button>
			</form>
			<br>
			<br>
		  <ul>
		  <li ng-repeat="message in messages">{{ message.name }} - {{ message.message }}</li>
		</ul>
		 </div>
 
  

</body>
</html>
